/*
0 - 320px:      i-phone-se
321 - 360px:    i-phone-12-mini/motog4 
361px - 500px:    i-phone-6/7/8/11pro/
501px - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- iPhone-se
- iPhone-12-mini
- iPhone-11-12/pro
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@400;500;600;700;800;900&family=Orbitron:wght@700&family=Roboto:wght@300;400;500;700&family=Sansita+Swashed:wght@300&display=swap");
:root {
  --bg-gray: #636c79;
  --light-green: #8bb7a2;
  --bg-dark: #10181d;
  --white: #ffffff;
  --white-dim: #cccccc;
  --text-gray: #8c8c8c;
  --text-dark-gray: #424242;
  --text-dark: #1b1d21;
  --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-family);
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.margin-small {
  margin: 3rem 0;
}

.margin-vsmall {
  margin: 2rem 0;
}

.margin-medium {
  margin: 6rem 0;
}

.margin-big {
  margin: 20rem 0;
}

.heading-primary {
  font-size: 6.2rem;
  color: var(--white);
}
@media (max-width: 768px) {
  .heading-primary {
    font-size: 5.2rem;
  }
}

.stat-heading {
  color: var(--bg-dark);
  font-size: 4rem;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 2rem;
}

.heading-four {
  font-size: 1.5rem;
}

.heading-secondary-big {
  font-size: 5rem;
}

.para-text {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white-dim);
}

.text-semidark {
  color: var(--bg-gray);
}

.center {
  text-align: center;
}

.about__stat-txt {
  font-size: 1.8rem;
}

.btn-secondary {
  background: transparent;
  color: var(--white);
  font-size: 1.6rem;
  border: 1px solid var(--white-dim);
  padding: 1rem 4.5rem;
}

.btn-primary {
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  font-size: 1.8rem;
  padding: 1.5rem 4rem;
}

.footer {
  background-color: var(--bg-dark);
  height: 50vh;
}
.footer__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid var(--bg-gray);
}
.footer__socialmedia {
  display: flex;
  align-items: center;
}
.footer__socialmedia-list--icon {
  margin-left: 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgba(99, 108, 121, 0.5);
  opacity: 0.8;
}
.footer__img {
  width: 70%;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
@media (max-width: 768px) {
  .footer__list {
    align-items: baseline;
  }
}
.footer__list-container {
  color: var(--white);
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .footer__list-container {
    margin-left: 1rem;
  }
}
.footer__list-li {
  color: var(--text-gray);
  margin-top: 1rem;
  font-size: 1.2rem;
}

.fa-brands {
  color: var(--white);
}

.header {
  height: 90vh;
  background-color: var(--bg-gray);
}
@media (max-width: 768px) {
  .header {
    height: 100vh;
  }
}
.header__hero {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
  height: 80vh;
  padding: 0 8rem;
}
@media (max-width: 768px) {
  .header__hero {
    flex-direction: column;
    padding: 0 1.2rem;
    margin-top: 5rem;
  }
}
.header__hero-imagebox {
  width: 36%;
  height: 80%;
  border-radius: 0.8rem;
  background-image: url(.././images/hero.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .header__hero-imagebox {
    width: 100%;
  }
}
.header__hero-form {
  max-width: 100%;
  position: relative;
}
.header__hero-form--input {
  width: 92%;
  padding: 2.4rem 4rem;
}
@media (max-width: 768px) {
  .header__hero-form--input {
    width: 100%;
  }
}
.header__hero-form--icon {
  position: absolute;
  left: 2%;
  top: 30%;
  font-size: 1.8rem;
}
.header ::-moz-placeholder {
  font-size: 1.8rem;
}
.header :-ms-input-placeholder {
  font-size: 1.8rem;
}
.header ::placeholder {
  font-size: 1.8rem;
}
.header__hero-infobox {
  width: 40%;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .header__hero-infobox {
    width: 100%;
  }
}
.header__hero-infobox--btn {
  position: absolute;
  left: 60%;
  top: 12%;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--img {
  width: 75%;
}
.navbar__list {
  display: flex;
}
@media (max-width: 768px) {
  .navbar__list {
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
    text-align: center;
    position: fixed;
    transition: 0.3s;
    left: -100%;
    top: 70px;
    height: 36 vh;
  }
}
.navbar__list--item {
  font-size: 1.8rem;
  color: var(--white);
  margin-left: 4rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .navbar__list--item {
    color: var(--text-dark);
    margin: 2rem 0rem;
  }
}

.hamburger {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-right: 2rem;
  }
}

.bar {
  display: block;
  background-color: #fff;
  width: 2.5rem;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .active {
    left: 0%;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.container {
  max-width: 124.8rem;
  margin: 0 auto;
}

.about {
  height: 120vh;
}
@media (max-width: 768px) {
  .about {
    height: 150vh;
  }
}
.about__stat {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .about__stat {
    flex-direction: column;
  }
}
.about__stat-box {
  text-align: center;
}
.about__image-box {
  background-image: url(".././images/pic-2.jpg");
  background-size: cover;
  background-position: top;
  height: 70vh;
}
.about__image {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.features__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .features__row {
    flex-direction: column;
    padding: 0.5rem;
    margin: 0rem;
  }
}
.features__info {
  width: 40%;
}
@media (max-width: 768px) {
  .features__info {
    width: 100%;
    text-align: center;
  }
}
.features__img-box {
  width: 40%;
  height: 70vh;
  background-image: url(".././images/pic-3.jpg");
  background-size: cover;
  background-position: right top;
}
@media (max-width: 768px) {
  .features__img-box {
    width: 100%;
  }
}
.features__img-box--1 {
  width: 40%;
  height: 70vh;
  background-image: url(".././images/pic-4.jpg");
  background-size: cover;
  background-position: right top;
}
@media (max-width: 768px) {
  .features__img-box--1 {
    width: 100%;
  }
}
.features__img-box--2 {
  width: 40%;
  height: 70vh;
  background-image: url(".././images/pic-5.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .features__img-box--2 {
    width: 100%;
  }
}

.team__content-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .team__content-box {
    flex-direction: column;
    text-align: center;
  }
}
.team__content-box--heading {
  width: 40%;
}
@media (max-width: 768px) {
  .team__content-box--heading {
    width: 100%;
    text-align: center;
  }
}
.team__content-box--parabox {
  width: 40%;
}
@media (max-width: 768px) {
  .team__content-box--parabox {
    width: 100%;
  }
}
.team__intro {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .team__intro {
    flex-direction: column;
  }
}
.team__intro-box {
  width: 30%;
}
@media (max-width: 768px) {
  .team__intro-box {
    width: 100%;
    text-align: center;
  }
}
.team__intro-box--para {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--text-gray);
}
.team__intro--img {
  background-image: url(".././images/team-1.jpg");
  height: 58vh;
  background-position: top;
  background-size: cover;
}
.team__intro--img1 {
  background-image: url(".././images/team-2.jpg");
  height: 58vh;
  background-position: top;
  background-size: cover;
}
.team__intro--img2 {
  background-image: url(".././images/team-3.jpg");
  height: 58vh;
  background-position: top;
  background-size: cover;
}
.team__btn {
  width: 100%;
  text-align: center;
}/*# sourceMappingURL=main.css.map */