@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@400;500;600;700;800;900&family=Orbitron:wght@700&family=Roboto:wght@300;400;500;700&family=Sansita+Swashed:wght@300&display=swap");
:root {
  --bg-gray: #636c79;
  --light-green: #8bb7a2;
  --bg-dark: #10181d;
  --white: #ffffff;
  --white-dim: #cccccc;
  --text-gray: #8c8c8c;
  --text-dark-gray: #424242;
  --text-dark: #1b1d21;
  --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.margin-small {
  margin: 3rem 0;
}

.margin-vsmall {
  margin: 2rem 0;
}

.margin-medium {
  margin: 6rem 0;
}

.margin-big {
  margin: 20rem 0;
}

.heading-primary {
  font-size: 6.2rem;
  color: var(--white);
}

.stat-heading {
  color: var(--bg-dark);
  font-size: 4rem;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 2rem;
}

.heading-four {
  font-size: 1.5rem;
}

.heading-secondary-big {
  font-size: 5rem;
}

.para-text {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white-dim);
}

.text-semidark {
  color: var(--bg-gray);
}

.center {
  text-align: center;
}

.about__stat-txt {
  font-size: 1.8rem;
}

.btn-secondary {
  background: transparent;
  color: var(--white);
  font-size: 1.6rem;
  border: 1px solid var(--white-dim);
  padding: 1rem 4.5rem;
}

.btn-primary {
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  font-size: 1.8rem;
  padding: 1.5rem 4rem;
}

.footer {
  background-color: var(--bg-dark);
  height: 50vh;
}
.footer__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid var(--bg-gray);
}
.footer__socialmedia {
  display: flex;
  align-items: center;
}
.footer__socialmedia-list--icon {
  margin-left: 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgba(99, 108, 121, 0.5);
  opacity: 0.8;
}
.footer__img {
  width: 70%;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
.footer__list-container {
  color: var(--white);
  margin-top: 3rem;
}
.footer__list-li {
  color: var(--text-gray);
  margin-top: 1rem;
  font-size: 1.2rem;
}

.fa-brands {
  color: var(--white);
}

.header {
  height: 90vh;
  background-color: var(--bg-gray);
}
.header__hero {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
  height: 80vh;
  padding: 0 8rem;
}
.header__hero-imagebox {
  width: 36%;
  height: 80%;
  border-radius: 0.8rem;
  background-image: url(/Buisness-landing-page/images/hero.jpg);
  background-position: center;
  background-size: cover;
}
.header__hero-form {
  max-width: 100%;
  position: relative;
}
.header__hero-form--input {
  width: 92%;
  padding: 2.4rem 4rem;
}
.header__hero-form--icon {
  position: absolute;
  left: 2%;
  top: 30%;
  font-size: 1.8rem;
}
.header ::-moz-placeholder {
  font-size: 1.8rem;
}
.header :-ms-input-placeholder {
  font-size: 1.8rem;
}
.header ::placeholder {
  font-size: 1.8rem;
}
.header__hero-infobox {
  width: 40%;
}
.header__hero-infobox--btn {
  position: absolute;
  left: 60%;
  top: 12%;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--img {
  width: 75%;
}
.navbar__list {
  display: flex;
}
.navbar__list--item {
  font-size: 1.8rem;
  color: var(--white);
  margin-left: 4rem;
  font-weight: 400;
}

.container {
  max-width: 124.8rem;
  margin: 0 auto;
}

.about {
  height: 120vh;
}
.about__stat {
  display: flex;
  justify-content: space-around;
}
.about__stat-box {
  text-align: center;
}
.about__image-box {
  background-image: url(/Buisness-landing-page/images/pic-2.jpg);
  background-size: cover;
  background-position: top;
  height: 70vh;
}
.about__image {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.features__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.features__info {
  width: 40%;
}
.features__img-box {
  width: 40%;
  height: 70vh;
  background-image: url(/Buisness-landing-page/images/pic-3.jpg);
  background-size: cover;
  background-position: right top;
}
.features__img-box--1 {
  width: 40%;
  height: 70vh;
  background-image: url(/Buisness-landing-page/images/pic-4.jpg);
  background-size: cover;
  background-position: right top;
}
.features__img-box--2 {
  width: 40%;
  height: 70vh;
  background-image: url(/Buisness-landing-page/images/pic-5.jpg);
  background-size: cover;
  background-position: center;
}

.team__content-box {
  display: flex;
  justify-content: space-between;
}
.team__content-box--heading {
  width: 40%;
}
.team__content-box--parabox {
  width: 40%;
}
.team__intro {
  display: flex;
  justify-content: space-around;
}
.team__intro-box {
  width: 30%;
}
.team__intro-box--para {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--text-gray);
}
.team__intro--img {
  background-image: url(/Buisness-landing-page/images/team-1.jpg);
  height: 58vh;
  background-position: top;
  background-size: cover;
}
.team__intro--img1 {
  background-image: url(/Buisness-landing-page/images/team-2.jpg);
  height: 58vh;
  background-position: top;
  background-size: cover;
}
.team__intro--img2 {
  background-image: url(/Buisness-landing-page/images/team-3.jpg);
  height: 58vh;
  background-position: top;
  background-size: cover;
}
.team__btn {
  width: 100%;
  text-align: center;
}/*# sourceMappingURL=main.css.map */