.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--img {
    width: 75%;
  }
  &__list {
    display: flex;

    &--item {
      font-size: 1.8rem;
      color: var(--white);
      margin-left: 4rem;
      font-weight: 400;
    }
  }
}
