.container {
  max-width: 124.8rem;
  margin: 0 auto;
}

.about {
  height: 120vh;
  &__stat {
    display: flex;
    justify-content: space-around;

    &-box {
      text-align: center;
    }
  }
  &__image-box {
    background-image: url(".././images/pic-2.jpg");
    background-size: cover;
    background-position: top;
    height: 70vh;
  }
  &__image {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.features {
  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__info {
    width: 40%;
  }

  &__img-box {
    width: 40%;
    height: 70vh;
    background-image: url(".././images/pic-3.jpg");
    background-size: cover;
    background-position: right top;
  }

  &__img-box--1 {
    width: 40%;
    height: 70vh;
    background-image: url(".././images/pic-4.jpg");
    background-size: cover;
    background-position: right top;
  }

  &__img-box--2 {
    width: 40%;
    height: 70vh;
    background-image: url(".././images/pic-5.jpg");
    background-size: cover;
    background-position: center;
  }
}

// section team
.team {
  &__content-box {
    display: flex;
    justify-content: space-between;

    &--heading {
      width: 40%;
    }

    &--parabox {
      width: 40%;
    }
  }

  &__intro {
    display: flex;
    justify-content: space-around;

    &-box {
      width: 30%;
      &--para {
        font-size: 1.8rem;
        line-height: 1.6;
        color: var(--text-gray);
      }
    }

    &--img {
      background-image: url(".././images/team-1.jpg");
      height: 58vh;
      background-position: top;
      background-size: cover;
    }

    &--img1 {
      background-image: url(".././images/team-2.jpg");
      height: 58vh;
      background-position: top;
      background-size: cover;
    }

    &--img2 {
      background-image: url(".././images/team-3.jpg");
      height: 58vh;
      background-position: top;
      background-size: cover;
    }
  }
  &__btn {
    width: 100%;
    text-align: center;
  }
}
